*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    background-color: #333;
    color: #ddd;
}
.title{
    margin-bottom: 4rem;
    font-size: 1.75rem;
}
.myInput, .btn{
    font-size: 2rem;
    padding: 1rem;
    width: 40%;
    margin-bottom: 2rem;
    font-weight: 900;
    text-align: center;
}
.msg{
    font-size: 1.5rem;
    margin-bottom: 4rem;
    line-height: 1.5;
}
.btn{
    border-radius: 1.5rem;
    background-color: rgb(51, 170, 57);
    border-color: transparent;
    box-shadow: 0 2px #000;
}

.btn:hover{
    background-color: #fff;
    color: rgb(51, 170, 57);;
}